<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Shopify.StoreAccount" value="fysioline-fi"/>
    <add key="Shopify.AccessToken" value="580edea139f888053b8346f32e6d7556"/>
    <add key="Visma.Server" value="localhost"/>
    <add key="Visma.Company" value="2" />
  </appSettings>
</configuration>
